body {
  background-color: lightgray;
}

.App {
  width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: white;
}

.rectangle {
  transition: x 2s;
}
